.row {
  height: 100%;
  width: 100%;
}

.dashboard {
  background-color: rgba(100, 100, 100, 0.2);
  width: 100%;
  height: 75%;
  overflow: scroll;
}

.userBarContainer {
  width: 100%;
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: calc( (100% - #{$userBarWidth}) / 2);
  padding-right: calc( (100% - #{$userBarWidth}) / 2);
  margin-bottom: 0.5em;
}

.userBar {
  min-width: 50%;
  // max-width: $userBarWidth;
  height: 100%;
  background-color: rgba(123, 164, 226, 0.2);
  border-radius: 1em;
}

.dashboardContainer {
  height: 100%;
  width: 80%;
  margin: 0px 10%;
  @media (max-width: 1224px) {
    width: 90%;
    margin: 0px 5%;
  }
  @media (max-width: 768px) {
    margin: 0px 0px;
    width: 100%;
  }
}
.dashboardHolder {
  height: 24%;
  padding: 0.5em;
}

.dashboardCard {
  height: 100%;
  width: 100%;
  background-color: silver;
  border-radius: 2px;
}
